<div class="form_container">
	<h1>Log in to play a gizame</h1>

	<form action="/users/sessions" method="post">
		<input name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" value="Login">
	</form>

	<a href="/users/new">Sign up here</a>
</div>