<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Games 4 Little People</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<script src="/javascripts/scripts.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>