<h1>Pick a game</h1>


<form action="/games/hangman/newgame" method="post">
	<button type="submit">Play Hangman</button>
</form>

<form action="/games/tictactoe/newgame" method="post">
	<button type="submit">Play Tic Tac Toe</button>
</form>