<h1><span class="large_header">Pick a game</span></h1>


<form class="button_form" action="/games/hangman/newgame" method="post">
	<button class="button_image" id="hangman_image" type="submit"><span></span></button>
</form>

<form class="button_form" action="/games/tictactoe/newgame" method="post">
	<button class="button_image" id="tictactoe_image" type="submit"><span></span></button>
</form>