<h1>New User</h1>

<form action="/users" method="post">
	<input type="text" name="user[username]" placeholder="Username">
	<input type="password" name="password" placeholder="Password">
	<input type="text" name="user[image_url]" placeholder="Avatar Image">
	<input type="submit" value="Sign Up">
</form>